

.rightAligned {
  text-align: right;
}

.dropdown {
  position: absolute;
  top: 50%;
  right: -20px;
  background-color: grey;
  border-radius: 4px;
  list-style: none;
  padding: 5px;
  width: 140px;
}

table.dataTable th, table.dataTable td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.dateSlider {
  margin: 10px auto;
}
